.widget {
    display: flex;
    /* align-items: center; */
    /* justify-content: flex-end; */
    margin-top: 3px;
    cursor: pointer;
    float: left;
    padding-left:5px;
}

.cart-icon {
    position: relative;
    right: 30px;
    width: 30px;
    height: 30px;
    background-image: url('../../assets/shopping-cart.svg');
    background-size: cover;
    transition: filter 0.3s;
}

.cart-icon:hover {
    filter: brightness(0) saturate(100%) invert(72%) sepia(36%) saturate(6063%) hue-rotate(151deg) brightness(102%) contrast(109%);
}
