.navbar {
    background-color: #1f253d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-menu li {
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
}

.activeState{
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
    transition: 0.2s;
}

.hoverState{
    color: #00e0fe;
}

.activeLink {
    color: #00e0fe;
}

.logo-icon {
    position: relative;
    top: 2px;
    width: 95px;
    height: 95px;
    background-image: url('../../assets/logo.svg');
    background-size: 100% 100%;
}

.cart-widget {
    position: relative;
    align-items: center;
}